.col .left_hip {
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dddddd;
    color: rgb(60, 46, 255);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .col .right_hip {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dddddd;
    color: rgb(60, 46, 255);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .col .left_knee {
    position: absolute;
    top: 58%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dddddd;
    color: rgb(60, 46, 255);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .col .right_knee {
    position: absolute;
    top: 58%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dddddd;
    color: rgb(60, 46, 255);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .col .right_knee {
    position: absolute;
    top: 58%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dddddd;
    color: rgb(60, 46, 255);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .col .traction_exo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dddddd;
    color: rgb(60, 46, 255);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .col .hip_side {
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dddddd;
    color: #ffffff;
    font-size: 16px;
    border:#808080;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
  }
  